# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
# R history file
.Rhistory
.Rbuildignore
.gitignore
# Recycle Bin used on file shares
$RECYCLE.BIN/
# R folder
.Rproj.user/
.Rproj.user/37A37ED/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk
# =========================
# Operating System Files
# OSX
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rproj.user/37A37ED/build_options
*.pper
.Rproj.user/37A37ED/sdb/s-41DFE1A7/lock_file
.Rproj.user/37A37ED/saved_source_markers
.Rproj.user/37A37ED/sdb/prop/875D5E5C
.Rproj.user/37A37ED/sdb/prop/INDEX
*.Rproj.user/
*.Rhistory
NAMESPACE
inst/doc
